* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Commissioner", sans-serif;
}

.header {
  min-width: 350px;
}

.bg-image {
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;
  height: 400px;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  padding: 30px 5%;
}
.nav__logo, .nav__hamburger {
  height: 30px;
  width: auto;
}
.nav__logo img, .nav__hamburger img {
  height: 100%;
}
.nav__hamburger {
  cursor: pointer;
  padding: 5px;
}
.nav__items {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav__hamburger {
    display: none;
  }
  .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .nav__items li {
    color: hsl(0, 0%, 0%);
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: hsl(0, 0%, 94%);
    cursor: pointer;
    font-weight: 400;
    margin: 0 10px;
    padding: 10px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .nav__items li:hover {
    color: hsl(0, 100%, 100%);
  }
}
.primary {
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
          box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 40px;
  min-width: 350px;
  padding: 30px;
  width: 90%;
  margin: -100px auto 40px;
  text-align: center;
  position: relative;
}
.primary__logo {
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 60px;
}
.primary__logo img {
  height: 100%;
}
.primary__title {
  color: hsl(0, 0%, 0%);
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 25px;
}
.primary__subtitle {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 25px 0;
}
.primary__btns {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.primary__btns .bookmark {
  margin-left: 10px;
}
.primary__btns .bookmark p {
  display: none;
}
.primary__btns .bookmark.active {
  opacity: 1;
}
.primary__btns .bookmark.active p {
  color: hsl(176, 72%, 28%);
}
.primary__btns .bookmark.active img {
  -webkit-filter: invert(19%) sepia(9%) saturate(5402%) hue-rotate(134deg) brightness(88%) contrast(84%);
          filter: invert(19%) sepia(9%) saturate(5402%) hue-rotate(134deg) brightness(88%) contrast(84%);
}

@media screen and (min-width: 768px) {
  .primary {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .primary {
    width: 60%;
  }
  .primary__btns .bookmark {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: hsl(0, 0%, 94%);
    border-radius: 40px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.85;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .primary__btns .bookmark p {
    color: hsl(0, 0%, 0%);
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: hsl(0, 0%, 48%);
    display: block;
    padding: 10px 25px 10px 10px;
  }
  .primary__btns .bookmark:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .primary {
    width: 40%;
  }
}
.stats {
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
          box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 40px;
  min-width: 350px;
  padding: 30px;
  width: 90%;
}
.stats__items {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
.stats__items .item {
  color: hsl(0, 0%, 0%);
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 0 15px;
  margin: 15px 0;
}
.stats__items .item p:last-child {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: lowercase;
  margin: 10px 0;
}
.stats__items .line {
  background-color: hsl(0, 0%, 94%);
  border-radius: none;
  height: 3px;
  width: 30%;
  margin: 0 auto;
}
.stats__line {
  background-color: hsl(0, 0%, 94%);
  border-radius: 10px;
  height: 15px;
  width: 100%;
  position: relative;
}
.stats__line .progress-bar {
  background-color: hsl(176, 50%, 47%);
  border-radius: 10px;
  height: 15px;
  width: 72%;
  left: 0;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 768px) {
  .stats {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .stats {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .stats {
    width: 40%;
  }
}
.about {
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
          box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 40px;
  min-width: 350px;
  padding: 30px;
  width: 90%;
}
.about__title {
  color: hsl(0, 0%, 0%);
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-transform: none;
  margin-bottom: 30px;
}
.about__info {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;
}

.options__option {
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
          box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 40px;
  min-width: 350px;
  padding: 30px;
  width: 90%;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #d4d4d4;
  min-width: auto;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.options__option--finish {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.5;
  pointer-events: none;
}
.options__option:hover h3 {
  color: hsl(176, 50%, 47%);
}
.options__option:hover {
  cursor: pointer;
}
.options__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.options__header h3 {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.options__title, .options__pay {
  color: hsl(0, 0%, 0%);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  text-transform: none;
}
.options__pay {
  color: hsl(176, 50%, 47%);
  margin-top: 10px;
  text-transform: none;
}
.options__text {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 30px 0;
}
.options__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.options__info p {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.options__info p .left {
  color: hsl(0, 0%, 0%);
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 5px;
}
.options__btn {
  margin-top: 20px;
  width: 70%;
}
.options__pays {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.options__pays .line {
  background-color: hsl(0, 0%, 94%);
  border-radius: 0;
  height: 2px;
  width: 100%;
  margin: 30px 0;
}
.options__pays p {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
.options__pays button {
  width: 50%;
  margin: 0;
}
.options__pays span {
  margin-right: auto;
  width: 33%;
  position: relative;
}
.options__pays span::before {
  content: "$";
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.options__pays input {
  background-color: hsl(176, 50%, 47%);
  border: none;
  border-radius: 30px;
  color: hsl(0, 100%, 100%);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  min-height: 60px;
  padding: 10px 25px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 94%);
  color: black;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .about {
    width: 80%;
  }
  .options__info .btn {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .about {
    width: 60%;
  }
  .options__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .options__pays .btn {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    width: 40%;
  }
}
.modal {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.modal__bg {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.modal__options, .modal__complete {
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
          box-shadow: 0px 0px 1px 0px hsl(0, 0%, 48%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 40px;
  min-width: 350px;
  padding: 30px;
  width: 90%;
  background-color: hsl(0, 0%, 94%);
  position: absolute;
  left: 5%;
  top: 3%;
  height: auto;
  width: 90%;
}
.modal__complete {
  top: 6%;
  text-align: center;
}
.modal__complete .btn {
  margin: 5px auto 0;
  width: 35%;
}
.modal__title {
  color: hsl(0, 0%, 0%);
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-transform: none;
}
.modal__subtitle {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 20px 0;
}
.modal__check {
  height: 80px;
  margin: 10px auto 20px;
  width: 80px;
}
.modal__check img {
  height: 100%;
}

.options__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.options__title div {
  cursor: pointer;
  height: 40px;
  padding: 10px;
  width: 40px;
}
.options__title div img {
  height: 100%;
}
.options__option--modal {
  width: 100%;
}
.options__more p {
  color: hsl(176, 50%, 47%);
  font-weight: 700;
  margin-top: 5px;
}
.options .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.options__check {
  border: 1px solid hsl(0, 0%, 48%);
  border-radius: 50%;
  margin-right: 15px;
  height: 25px;
  width: 25px;
}

@media screen and (min-width: 992px) {
  .modal__complete, .modal__options {
    left: 50%;
    top: 12%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
  }
}
.btn {
  background-color: hsl(176, 50%, 47%);
  border: none;
  border-radius: 30px;
  color: hsl(0, 100%, 100%);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  min-height: 60px;
  padding: 10px 25px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.btn--back {
  padding: 10px 40px;
}
.btn:hover {
  background-color: hsl(176, 72%, 28%);
}

body {
  background-color: hsl(0, 0%, 94%);
  position: relative;
}/*# sourceMappingURL=style.css.map */