@mixin title-text($size) {
  color: $black;
  letter-spacing: 1px;
  font-size: $size;
  font-weight: 700;
  text-transform: capitalize;
}

@mixin description-text {
  color: $dark-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@mixin button {
  background-color: $moderate-cyan;
  border: none;
  border-radius: 30px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  min-height: 60px;
  padding: 10px 25px;
  transition: 0.25s;
}

@mixin section-position {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px $dark-gray;
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px;
  min-width: 350px;
  padding: 30px;
  width: 90%; //90% because 5% is padding in logo
}

@mixin line($color, $radius, $height, $width) {
  background-color: $color;
  border-radius: $radius;
  height: $height;
  width: $width;
}
