.modal {
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  &--completed {
    display: none;
  }

  &--completed.show {
    display: flex;
  }

  &__bg {
    @include position-modal(rgba(0, 0, 0, 0.7), 0, 0, 100%, 100%);
  }

  &__options,
  &__complete {
    @include section-position;
    @include position-modal($background, 5%, 3%, auto, 90%);
  }
  &__complete {
    top: 6%;
    text-align: center;
    & .btn {
      margin: 5px auto 0;
      width: 35%;
    }
  }
  &__title {
    @include title-text(24px);
    text-transform: none;
  }
  &__subtitle {
    @include description-text;
    margin: 20px 0;
  }
  &__check {
    height: 80px;
    margin: 10px auto 20px;
    width: 80px;
    & img {
      height: 100%;
    }
  }
}

.options {
  &__title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    & div {
      cursor: pointer;
      height: 40px;
      padding: 10px;
      width: 40px;
      & img {
        height: 100%;
      }
    }
  }
  &__option {
    &--modal {
      width: 100%;
    }
  }

  &__more {
    & p {
      color: $moderate-cyan;
      font-weight: 700;
      margin-top: 5px;
    }
  }
  & .header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__check {
    border: 1px solid $dark-gray;
    border-radius: 50%;
    margin-right: 15px;
    height: 25px;
    width: 25px;
  }
}

@media screen and (min-width: 992px) {
  .modal {
    &__complete,
    &__options {
      left: 50%;
      top: 12%;
      transform: translateX(-50%);
      width: 50%;
    }
  }
}
