.bg-image {
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;

  height: 400px;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 30px 5%;

  &__logo,
  &__hamburger {
    height: 30px;
    width: auto;
    & img {
      height: 100%;
    }
  }
  &__hamburger {
    cursor: pointer;
    padding: 5px;
  }

  &__items {
    display: none;
  }
}

@media screen and (min-width: $medium) {
  .nav {
    &__hamburger {
      display: none;
    }
    &__items {
      display: flex;
      list-style-type: none;
      & li {
        @include title-text(16px);
        color: $background;
        cursor: pointer;
        font-weight: 400;
        margin: 0 10px;
        padding: 10px;
        transition: 0.25s;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
