.bg-image {
  background-image: url("../images/image-hero-mobile.jpg");
  background-size: cover;

  height: 400px;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 30px 5%;

  &__logo,
  &__hamburger {
    height: 40px;
    padding: 5px;
    width: auto;
    & img {
      height: 100%;
    }
  }
  &__hamburger {
    cursor: pointer;
    padding: 5px;
  }

  &__mobile {
    display: none;
    & .modal__bg {
      display: none;
    }
  }
  &__close {
    @include position-modal(transparent, 85%, 40px, 40px, 40px);
    z-index: 2;
    & img {
      height: 100%;
    }
  }

  &__items {
    @include position-modal($white, 5%, 120px, 300px, 90%);
    @include section-position;
    list-style-type: none;
    justify-content: space-between;
    z-index: 2;
  }

  &__mobile.active {
    display: flex;

    & .modal__bg {
      display: flex;
      z-index: 1;
    }
  }
}

.items {
  &__item {
    @include title-text(26px);
    padding: 10px 15px;
  }
}

@media screen and (min-width: $medium) {
  .nav {
    &__hamburger {
      display: none;
    }
    &__items {
      display: flex;
      list-style-type: none;
      & li {
        @include title-text(16px);
        color: $background;
        cursor: pointer;
        font-weight: 400;
        margin: 0 10px;
        padding: 10px;
        transition: 0.25s;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
