.primary {
  margin: -100px auto 40px;
  text-align: center;

  // To position primary__logo
  position: relative;

  &__logo {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);

    height: 60px;
    & img {
      height: 100%;
    }
  }

  &__title {
    color: $black;
    letter-spacing: 1px;
    font-size: 24px;
    margin-top: 25px;
    text-transform: capitalize;
  }

  &__subtitle {
    color: $dark-gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin: 25px 0;
  }

  &__btns {
    align-items: center;
    display: flex;
    justify-content: space-between;

    & .bookmark {
      margin-left: 10px;
      & p {
        display: none;
      }
    }
  }
}
