.primary {
  @include section-position;
  margin: -100px auto 40px;
  text-align: center;

  // To position primary__logo
  position: relative;

  &__logo {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);

    height: 60px;
    & img {
      height: 100%;
    }
  }

  &__title {
    @include title-text(24px);
    margin-top: 25px;
  }

  &__subtitle {
    @include description-text;
    margin: 25px 0;
  }

  &__btns {
    align-items: center;
    display: flex;
    justify-content: space-between;

    & .bookmark {
      margin-left: 10px;

      & p {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $small) {
  .primary {
    width: 80%;
  }
}

@media screen and (min-width: $medium) {
  .primary {
    width: 60%;
    &__btns {
      & .bookmark {
        align-items: center;
        background-color: $background;
        border-radius: 40px;
        cursor: pointer;
        display: flex;
        opacity: 0.85;
        transition: 0.25s;
        p {
          @include title-text(16px);
          color: $dark-gray;
          display: block;
          padding: 10px 25px 10px 10px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: $large) {
  .primary {
    width: 40%;
  }
}
