// Primary Color
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

// Neutral color
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$white: hsl(0, 100%, 100%);
$background: hsl(0, 0%, 94%);

// Font Family
$main-font: "Commissioner";
